<div class="div">
    <h3 align="center">12.11.2021 განახლება</h3>
    <ul>
        <li>დაემატა შესვლის ფუნქცია</li>
        <li>შესვლა შესაძლებელია ნებისმიერი იუზერით და პაროლით</li>
        <li>შესვლის შემდეგ გამოდის ახალი ღილაკი "დამატება"</li>
        <li>დაემატა დამატების ფუნქცია</li>
        <li>დამატების შემდეგ ახალი ბლოკი აისახება მთავარ გვერდზე</li>
        <li>გამოსვლა ხდება მხოლოდ "გამოსვლა" ღილაკით და არა რეფრეშის დროს</li>
        <li>გამოყენებულია localstorage-ს შემოწმება სესიის შესამოწმებლად</li>
    </ul>
    <button mat-raised-button class="but" (click)="close()">დახურვა</button>
</div>